{% extends 'base.html.twig' %}

{% block title %}Liste des artistes{% endblock %}

{% block body %}
    <h1 class="pt-2 text-center"></h1>
    <hr>
    <div class="row pt-2">
        {% for artist in artisteArr %}

            {% set nbAlbums = artist.albums|length %}

            <div class="col-sm-12 col-md-12 -lg-4 col-xl-3">
                <div class="card mb-3">
                    <h3 class="card-header">{{ artist.name }}</h3>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#" class="badge badge-success text-decoration-none" style="color: white; background-color: green">
                                {{ nbAlbums }} {% if nbAlbums > 1 %} albums {% else %} album {% endif %}
                            </a>
                        </h5>
                    </div>
                    <img class="avatar mx-auto" style="height: auto; width: 200px; display: block;" src="{{ artist.imageUrl }}" alt="Card image">
                    <div class="card-body">
                        <p class="card-text">{{ artist.content|slice(0,100)|raw }}...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{% if artist.type == 0 %} Artiste solo {% else %} Groupe {% endif %}</li>
                        <li class="list-group-item">{{ artist.site }}</li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
