{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}


{% block body %}
    <h1 class="pt-2 text-center">
        {% if app.request.attributes.get('_route') == "admin_album_add" %}
            Ajout
        {% else %}
            Modification
        {% endif %}
        d'un album
    </h1>
    {{ form_start(formAlbum) }}

    <div class="row">
        <div class="col-8">
            {{ form_row(formAlbum.name) }}
            {{ form_row(formAlbum.createdAt) }}
            {{ form_row(formAlbum.artist) }}
            {{ form_row(formAlbum.styles) }}
        </div>
        <div class="col-4">
            <div>
                <img class="rounded mx-auto d-block"
                     id="changeUpload"
                     src="{{ asset('images/albums/' ~ formAlbum.imageUrl.vars.value) }}"
                     style="max-width: 60%"
                     alt="{{ formAlbum.imageUrl.vars.value }}"
                >
            </div>

            <div>
                {{ form_row(formAlbum.imageFile) }}
                {{ form_errors(formAlbum.imageFile) }}
                <a class="btn btn-primary d-block center" id="load_pouch">
                    <i class='bx bx-upload'></i>
                    <span>Charger la pochette</span>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <input type="submit" class="btn btn-success w-100"
                   value="Valider {% if app.request.attributes.get('_route') == "admin_album_update" %}les modifications{% endif %}">
        </div>
        <div class="col">
            <a href="{{ path('admin_album_list') }}" class="btn btn-warning w-100">Annuler</a>
        </div>
    </div>

    {{ form_end(formAlbum) }}
{% endblock %}

{% block title %}
    {% if app.request.attributes.get('_route') == "admin_album_add" %}
        Ajout
    {% else %}
        Modification
    {% endif %}
    d'album
{% endblock %}

{% block fin %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.custom-select').select2();
        });
    </script>
    <script src="{{ asset('assets/js/uploadManager.js') }}" defer></script>
{% endblock %}

