{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="pt-2 text-center">
        {% if app.request.attributes.get('_route') == "admin_artist_add" %}
            Ajout
        {% else %}
            Modification
        {% endif %}
        d'un artiste
    </h1>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-8">
            {{ form_row(form.name) }}
            {{ form_row(form.site) }}
            {{ form_row(form.type) }}
            {{ form_row(form.imageUrl) }}
        </div>
        <div class="col-4">
            <div>
                <img class="rounded mx-auto d-block"
                     id="changeUpload"
                     src="{{ asset('images/artists/' ~ form.imageUrl.vars.value) }}"
                     style="max-width: 60%"
                     alt="{{ form.imageUrl.vars.value }}"
                >
            </div>

            <div>
                {{ form_row(form.imageFile, {'id': "imageFile"}) }}
                {{ form_errors(form.imageFile) }}
                <a class="btn btn-primary d-block center" id="load_image">
                    <i class='bx bx-upload'></i>
                    <span>Charger la photo</span>
                </a>
            </div>
        </div>
    </div>
    {{ form_row(form.content) }}

    <div class="row">
        <div class="col">
            <input type="submit" class="btn btn-success w-100" value="Valider {% if app.request.attributes.get('_route') == "admin_artist_update" %}les modifications{% endif %}">
        </div>
        <div class="col">
            <a href="{{ path('admin_artist') }}" class="btn btn-warning w-100">Annuler</a>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block title %}
    {% if app.request.attributes.get('_route') == "admin_artist_add" %}
        Ajout
    {% else %}
        Modification
    {% endif %}
    d'artiste
{% endblock %}

{% block fin %}
    <script src="{{ asset('assets/js/uploadManager.js') }}" defer></script>
    <script>
        ClassicEditor.create( document.querySelector( '#artist_content' ) );
    </script>
{% endblock %}


